* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*font-family: 'Open Sans', sans-serif;*/

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #889C9B;
}

.navbar {
    border-bottom: 1px solid black;
}



.navbar ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    background-color: #BD2A2E;
}

.navbar ul li {
    padding: 10px;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}


.navbar ul li a {
    text-decoration: none;
    color: #ffffff;
}

h1 {
    display: none;
}

h2 {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
}

main {
    background-color: #d7dddd;
}
.contenedor1 {
    padding-bottom: 20px;
}
.texto {
    margin: 20px;
    font-size: 16px;
}

.texto ul li {
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 35px;
}

textarea {
    font-size: 25px;
    width: 100%;
    padding: 10px;
    font-family: 'Open Sans', sans-serif
}

.formulario  {
    border: 0px;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
}

.texto p {
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
}

input {
    width: 100%;
    height: 40px;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 10px;
} 

.enviar {
    width: 120px;
    display: flex;
    justify-content: start;
    align-items: center;
}


.imagen {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    margin: 10px 10px 0 10px;
    border: 1px solid black;
    border-radius: 5px;
}

figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.enConstruccion {
    font-family:  'Open Sans', sans-serif; ;
    margin: 20px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    padding: 10px;
}


footer {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    padding:  10px;
    background-color: #BD2A2E;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}


@media (min-width: 768px) {
    
    .navbar ul li {
        font-size: 24px;
    }
    
    .contenedor1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:"h2 h2"
                            "texto figura";
    }
    
    h2{grid-area: h2;}

    .texto {grid-area: texto;}
    
    .figura {grid-area: figura;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    h2 {
        display: flex;
        justify-content: start;
    }

    .enConstruccion {
        font-size: 32px;
    }
}

@media (min-width: 992px) {
    
    .navbar ul li {
        font-size: 24px;
    }
    
    .navbar ul {
        justify-content: space-around;
    }
    
    
    h2 {
        grid-area: h2;
        display: flex;
        justify-content: start;
    }
}